/*
 * Copyright (c) 2021-2026 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/num_word.dtsi>

#define QWERTY_L    0
#define FOCAL_L     1
#define NUM_L       2
#define FUN_L       3
#define SYM_LEFT_L  4
#define SYM_RIGHT_L 5
#define NAV_LEFT_L  6
#define NAV_RIGHT_L 7
#define MEDIA_L     8
#define JAM_L       9
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)
#define DANGER_DELAY 3000

/ {
    behaviors {
        home_row_sticky: home_row_sticky {
            compatible = "zmk,behavior-sticky-key";
            label = "HOME_ROW_STICKY";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };

        shift_dedicated: shift_dedicated {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFT_DEDICATED";
            #binding-cells = <0>;
            bindings = <&sticky_shift LSHIFT>, <&caps_word>;
        };

        sticky_shift: sticky_shift {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_SHIFT";
            bindings = <&sk>;
            #binding-cells = <1>;
            release-after-ms = <600>;
            quick-release;
            ignore-modifiers;
        };

        thumb_key_layer: thumb_key_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_KEY_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <30>;
        };

        thumb_key_mod: thumb_key_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_KEY_MOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <0>;
            hold-while-undecided;
        };

        thumb_active_key_mod: thumb_active_key_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_ACTIVE_KEY_MOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <30>;
            hold-while-undecided;
        };

        thumb_active_key_layer: thumb_active_key_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_ACTIVE_KEY_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <30>;
            hold-while-undecided;
        };

        swapper: swapper {
            compatible = "zmk,behavior-smart-toggle";
            #binding-cells = <0>;
            bindings = <&kp LALT>, <&kp TAB>;

            ignored-key-positions = <15>, <20>;

            // shift for both left and right symbol layers
        };

        fun_swapper: fun_swapper {
            compatible = "zmk,behavior-smart-toggle";
            #binding-cells = <0>;
            bindings = <&mo FUN_L>, <&none>;

            ignored-key-positions =
                <1>,
                <2>,
                <3>,
                <4>,
                <13>,
                <14>,
                <15>,
                <16>,
                <25>,
                <26>,
                <27>,
                <28>;

            // F-keys
        };

        bt_or_reset_hold: bt_or_reset_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "BT_OR_RESET_HOLD";
            bindings = <&bt_clear_macro>, <&bt>;

            #binding-cells = <2>;
            tapping-term-ms = <DANGER_DELAY>;
            flavor = "tap-preferred";
        };

        bt_reset_hold: bt_reset_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "BT_RESET_HOLD";
            bindings = <&bt_clear_all_macro>, <&bt_clear_macro>;

            #binding-cells = <2>;
            tapping-term-ms = <DANGER_DELAY>;
            flavor = "tap-preferred";
        };

        bootloader_reset_hold: bootloader_reset_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "BOOTLOADER_RESET_HOLD";
            bindings = <&bootloader_reset_macro>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <DANGER_DELAY>;
            flavor = "tap-preferred";
        };

        output_hold: output_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "OUTPUT_HOLD";
            bindings = <&out>, <&out>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <DANGER_DELAY>;
        };

        ext_power_hold: ext_power_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "EXT_POWER_HOLD";
            bindings = <&ext_power>, <&ext_power>;

            #binding-cells = <2>;
            tapping-term-ms = <DANGER_DELAY>;
            flavor = "tap-preferred";
        };
    };

    macros {
        bt_clear_macro: bt_clear_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>;
            label = "BT_CLEAR_MACRO";
        };

        bt_clear_all_macro: bt_clear_all_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR_ALL>;
            label = "BT_CLEAR_ALL_MACRO";
        };

        sys_reset_macro: sys_reset_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sys_reset>;
            label = "SYS_RESET_MACRO";
        };

        bootloader_reset_macro: bootloader_reset_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bootloader>;
            label = "BOOTLOADER_RESET_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
 * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   | ENTER |
 * | CTRL  |   Z   |   X   |   C   |   V   |   B   |  ESC  |-------------------|  CAPS |   N   |   M   |   ,   |   .   |   /   |   '   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */

            bindings = <
&kp ESCAPE             &kp Q  &kp W  &kp E  &kp R                             &kp T                                                                                                                                                                         &kp Y                            &kp U                      &kp I      &kp O    &kp P      &kp LEFT_BRACKET
&kp LEFT_WIN           &kp A  &kp S  &kp D  &kp F                             &kp G                                                                                                                                                                         &kp H                            &kp J                      &kp K      &kp L    &kp SEMI   &kp SQT
&num_word NUM_L        &kp Z  &kp X  &kp C  &kp V                             &kp B             &thumb_key_layer NAV_LEFT_L LEFT_BRACKET                                                                                  &trans                            &kp N                            &kp M                      &kp COMMA  &kp DOT  &kp SLASH  &kp RIGHT_BRACKET
                                            &thumb_key_layer NUM_L BACKSPACE  &shift_dedicated  &thumb_key_layer SYM_LEFT_L TAB           &thumb_active_key_mod LCTRL SPACE    &thumb_active_key_layer NAV_RIGHT_L ENTER  &thumb_key_layer SYM_RIGHT_L TAB  &thumb_key_mod LSHIFT BACKSPACE  &thumb_key_layer NUM_L DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        focal_layer {
            bindings = <
&trans  &kp V  &kp L  &kp H  &kp G   &kp K                                     &kp Q     &kp F   &kp O      &kp U    &kp J     &tog FOCAL_L
&trans  &kp S  &kp R  &kp N  &kp T   &kp B                                     &kp Y     &kp C   &kp A      &kp E    &kp I     &trans
&trans  &kp Z  &kp X  &kp M  &kp D   &kp P   &trans                    &trans  &kp FSLH  &kp W   &kp COMMA  &kp DOT  &kp SEMI  &trans
                             &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans
            >;
        };

        num_layer {
            bindings = <
&trans  &kp PLUS        &kp N9  &kp N8  &kp N4  &fun_swapper                                    &trans  &trans                  &trans                  &trans                 &trans                 &trans
&trans  &kp MINUS       &kp N3  &kp N2  &kp N1  &kp N0                                          &trans  &home_row_sticky LCTRL  &home_row_sticky LSHFT  &home_row_sticky LALT  &home_row_sticky LGUI  &trans
&trans  &kp UNDERSCORE  &kp N7  &kp N6  &kp N5  &kp DOT       &trans                    &trans  &trans  &mo FUN_L               &trans                  &trans                 &trans                 &trans
                                        &trans  &trans        &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        fun_layer {
            bindings = <
&trans  &kp F11  &kp F9  &kp F8  &kp F4  &trans                                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F10  &kp F3  &kp F2  &kp F1  &trans                                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F12  &kp F7  &kp F6  &kp F5  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                 &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        sym_left_layer {
            bindings = <
&kp TILDE  &kp PERCENT            &kp LT                 &kp GT                  &kp LEFT_BRACE          &kp RIGHT_BRACE                                                          &kp GRAVE          &kp AT         &kp EXCLAMATION  &kp HASH        &trans    &trans
&kp CARET  &home_row_sticky LGUI  &home_row_sticky LALT  &home_row_sticky LSHFT  &home_row_sticky LCTRL  &kp DOLLAR                                                               &kp DOUBLE_QUOTES  &kp EQUAL      &kp COLON        &kp UNDERSCORE  &kp PIPE  &kp DOLLAR
&trans     &kp HASH               &kp SLASH              &kp STAR                &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET                    &trans       &kp SQT            &kp SEMICOLON  &kp QUESTION     &kp BACKSLASH   &trans    &trans
                                                                                 &trans                  &trans                 &trans             &trans    &trans  &mo MEDIA_L  &trans             &trans
            >;
        };

        sym_right_layer {
            bindings = <
&kp TILDE  &kp PERCENT    &kp LT     &kp GT    &kp LEFT_BRACE        &kp RIGHT_BRACE                                               &kp GRAVE          &kp AT_SIGN             &kp EXCLAMATION          &kp HASH               &trans                 &trans
&kp CARET  &kp AMPERSAND  &kp MINUS  &kp PLUS  &kp EQUAL             &kp DOLLAR                                                    &kp DOUBLE_QUOTES  &home_row_sticky LCTRL  &home_row_sticky LSHIFT  &home_row_sticky LALT  &home_row_sticky LGUI  &kp DOLLAR
&trans     &kp HASH       &kp SLASH  &kp STAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans                         &trans  &kp SQT            &kp SEMICOLON           &kp QUESTION             &kp BACKSLASH          &trans                 &trans
                                               &trans                &trans                 &mo MEDIA_L  &trans    &trans  &trans  &trans             &trans
            >;
        };

        nav_left_layer {
            bindings = <
&trans  &trans       &trans  &trans  &kp LG(LS(S))  &kp PRINTSCREEN                                    &tog FOCAL_L  &tog JAM_L  &trans  &trans  &trans  &trans
&trans  &kp LS(TAB)  &trans  &trans  &swapper       &trans                                             &trans        &trans      &trans  &trans  &trans  &trans
&trans  &trans       &trans  &trans  &trans         &trans           &trans                    &trans  &trans        &trans      &trans  &trans  &trans  &trans
                                     &trans         &trans           &trans  &trans    &trans  &trans  &trans        &trans
            >;
        };

        nav_right_layer {
            bindings = <
&trans  &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END            &trans                                          &tog FOCAL_L  &tog JAM_L              &trans                   &trans                     &trans                 &trans
&trans  &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT          &trans                                          &trans        &home_row_sticky LCTRL  &home_row_sticky LSHIFT  &home_row_sticky LEFT_ALT  &home_row_sticky LGUI  &trans
&trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT    &trans    &trans                        &trans  &trans        &msc SCRL_LEFT          &msc SCRL_DOWN           &msc SCRL_UP               &msc SCRL_RIGHT        &trans
                                                      &kp LC(BACKSPACE)  &mkp MB1  &mkp MB3  &mkp MB2    &trans  &trans  &trans        &trans
            >;
        };

        media_layer {
            bindings = <
&bt BT_NXT                  &bt_or_reset_hold BT_SEL 0  &bt_or_reset_hold BT_SEL 1  &bt_or_reset_hold BT_SEL 2  &bt_or_reset_hold BT_SEL 3  &bt_or_reset_hold BT_SEL 4                                    &trans  &trans      &output_hold OUT_USB OUT_TOG  &ext_power_hold EP_OFF EP_TOG  &trans      &bt_reset_hold 0 0
&trans                      &kp C_PREV                  &kp C_VOLUME_DOWN           &kp C_VOLUME_UP             &kp C_NEXT                  &trans                                                        &trans  &kp C_PREV  &kp C_VOLUME_DOWN             &kp C_VOLUME_UP                &kp C_NEXT  &trans
&bootloader_reset_hold 0 0  &trans                      &trans                      &trans                      &trans                      &trans                      &trans                    &trans  &trans  &trans      &trans                        &trans                         &trans      &bootloader_reset_hold 0 0
                                                                                                                &trans                      &trans                      &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        jam_layer {
            bindings = <
&kp TAB   &kp Q  &kp E  &kp W  &kp R     &kp T                                                 &kp Y   &kp U   &kp I      &kp O    &kp P     &tog JAM_L
&kp BSPC  &kp F  &kp A  &kp S  &kp D     &kp G                                                 &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp APOS
&kp LGUI  &kp Z  &kp X  &kp C  &kp V     &kp B      &kp N1                             &kp N2  &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                               &kp LALT  &kp LSHFT  &kp LCTRL  &kp SPACE    &kp ENTER  &trans  &trans  &trans
            >;
        };
    };
};
